   
<header class="mb-8 flex items-start justify-between">
  <div>
    <p class="text-sm font-medium text-slate-500">
      Investor Profile
    </p>
    <h1 class="mt-2 text-4xl font-bold tracking-tight text-slate-950">
      <%= @investor.name %>
    </h1>
  </div>
  <div class="mt-6">
    <%= link_to "Edit Investor",
          edit_investor_path(@investor),
          class: " rounded-lg bg-slate-900 px-4 py-3 text-sm font-medium text-white hover:bg-slate-700" %>
  </div>
</header>